

<div class="pagination">
    <ul>
        <li class="prev-page"></li>
        <li class="active"><span>1</span></li>
        <li><a href='https://cuiqingcai.com/page/2?page=2'>2</a></li>
        <li><a href='https://cuiqingcai.com/page/3?page=2'>3</a></li>
        <li><a href='https://cuiqingcai.com/page/4?page=2'>4</a></li>
        <li><a href='https://cuiqingcai.com/page/5?page=2'>5</a></li>
        <li><span> ... </span></li>
        <li class="next-page"><a href="https://cuiqingcai.com/page/2?page=2" >下一页</a></li>
    </ul>
</div>