{% load static %}
<div id="respond" class="no_webshot">
    <script>
        function copyText(id,name) {
            document.getElementById('comment').select();
            document.getElementById("commentform").action = "/do_commet/{{ article_id }}/{{ classify_id }}/" + id + '?next={{ request.get_full_path }}'
            document.getElementById("commentform_who").innerHTML = "请输入对<a href='#comments'>"+name+"</a>的回复:"
            document.getElementById("submit").innerHTML = "<i class=\"fa iconfont icon-bijiben\"></i> 提交回复"
            document.getElementById("comment").placeholder = "正在回复"+name+"..........."
            var scroll_offset = $("#comment").offset(); //得到pos这个div层的offset，包含两个值，top和left
            $("body,html").animate({
            scrollTop:scroll_offset.top //让body的scrollTop等于pos的top，就实现了滚动
            },1110);



        }
    </script>
    <form action="{% url 'blog:do_commet' article_id classify_id 0 %}?next={{ request.get_full_path }}" method="post"
          id="commentform">

        <div class="comt-title">
            <div class="comt-avatar pull-left">
                <img alt='' src='/media/{{ icon }}' class='avatar avatar-54 photo avatar-default' height='54'
                     width='54'/></div>
            <div class="comt-author pull-left" id='commentform_who'>发表我的评论</div>
            <a id="cancel-comment-reply-link" class="pull-right" href="javascript:;">取消评论</a>
        </div>
        <div class="comt">
            <div class="comt-box">
                <textarea placeholder="写点什么..." class="input-block-level comt-area" name="up_comment" id="comment"
                          cols="100%" rows="3" tabindex="1"
                          onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13){document.getElementById('submit').click();return false};"></textarea>
                <textarea name="comment" cols="100%" rows="4" style="display:none"></textarea>
                <div class="comt-ctrl">
                    <button class="btn btn-primary pull-right" type="submit" name="submit" id="submit" tabindex="5"><i
                            class="fa iconfont icon-bijiben"></i> 提交评论
                    </button>
                    <div class="comt-tips pull-right">
                        <input type='hidden' name='comment_post_ID' value='847' id='comment_post_ID'/>
                        <input type='hidden' name='comment_parent' id='comment_parent' value='0'/>
                        <p style="display: none;">
                            <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce"
                                   value="973598ad57"/>
                        </p>
                        <div id="tiantest_reply" style="margin-bottom: 14px; height:36px">

                        </div>
                        <input name="task_id" id="task_id" type="hidden"/>
                        <p style="display: none;">
                            <input type="hidden" id="ak_js" name="ak_js" value="95"/>
                        </p>
                    </div>
                    <span data-type="comment-insert-smilie" class="muted comt-smilie"><i
                            class="fa iconfont icon-ziyuan"></i> 表情</span>
                    <span class="muted comt-mailme"><label for="comment_mail_notify" class="checkbox inline"
                                                           style="padding-top:0"><input type="checkbox"
                                                                                        name="comment_mail_notify"
                                                                                        id="comment_mail_notify"
                                                                                        value="comment_mail_notify"
                                                                                        checked="checked"/>有人回复时邮件通知我</label></span>
                </div>
            </div>

            </script>
            </script>

        </div>



    </form>
</div>
<div id="postcomments">
    <div id="comments">
        <i class="fa iconfont icon-pinglun"></i> <b> ({{ count }})</b>条评论
    </div>
    <ol class="commentlist">
        {% for commet in commets %}
            <li class="comment even thread-even depth-1" id="comment-258876">
                <div class="c-avatar">
                    <img alt='' src='/media/{{ commet.author.icon }}' class='avatar avatar-54 photo' height='54'
                         width='54'/>
                    <div class="c-main" id="div-comment-258876">{{ commet.commet }}
                        <div class="c-meta">
                            <span class="c-author">
                                <a href="{{ commet.author.my_url }}" target="_blank" rel='external nofollow' class='url'>{{ commet.author.username }}</a></span>{{ commet.issuedate }}
                            <a rel='nofollow' class='comment-reply-link' href='javascript:;'
                               aria-label='回复给{{ commet.author.username }}' onclick="copyText({{ commet.id }},'{{ commet.author.username}}')">回复</a>&nbsp;&nbsp;共{{ commet.sort }}条回复
                        </div>
                    </div>
                </div>

                {% for reply in commet.root_comment.all %}
                    <ul class="children">
                        <li class="comment byuser comment-author-cqcre bypostauthor odd alt depth-2"
                            id="comment-271040">
                            <div class="c-avatar"><img alt='' src='/media/{{ reply.author.icon }}'
                                                       class='avatar avatar-54 photo' height='54' width='54'/>
                                <div class="c-main" id="div-comment-271040">{{ reply.commet }}
                                    <div class="c-meta"><span class="c-author"><a href="{{ article.author.my_url }}" target="_blank" rel='external nofollow' class='url'>{{ reply.author.username }}</a></span>回复<span class="c-author"><a href='#' rel='external nofollow' class='url'>&nbsp;&nbsp;{{ reply.reply_to.username }}</a></span>{{ reply.issuedate }}
                                    </div>
                                </div>
                            </div>
                        </li><!-- #comment-## -->
                    </ul><!-- .children -->
                {% endfor %}


            </li><!-- #comment-## -->
        {% endfor %}
    </ol>
    <div class="commentnav">
        {% if commets.has_previous %}
            <a class="prev page-numbers" href="?page={{ commets.previous_page_number }}#comments">«</a>
        {% endif %}

        {# 页码开始#}
        {% for num in commets.paginator.page_range %}
            {% if num == commets.number %}
                <span aria-current='page' class='page-numbers current'>{{ num }}</span>
            {% else %}
                <a class='page-numbers' href='?page={{ num }}#comments'>{{ num }}</a>
            {% endif %}
        {% endfor %}
        {#页码结束#}


        {# 下一页按钮开始#}
        {% if commets.has_next %}
            <a class="next page-numbers" href="?page={{ commets.next_page_number }}#comments">»</a>
        {% else %}

        {% endif %}
    </div>
</div>


