{% load static %}
{#二维码模块#}

                <div id="qrcodes">
                <div class="row">
                <div class="col-xs-12 col-md-4">
                <div class="p-sm" style="overflow: hidden; padding-bottom: 15px;">
                <p class="text-center">我的个人微信公众号，欢迎关注</p>
                <p class="text-center">扫码或搜索：</p>
                <div class="text-center">
                                        <img class="code-img"
                                             src="{% static 'blog/img/smill_img/weixin_add.png' %}"/>
                                    </div>
                <div class="text-center">
                <p style="color: #e9415a; font-size: 15px;">微信公众号</p>
                <p>
                    <span>微信公众号 </span><span style="color: #e9415a; font-size: 15px; margin-bottom: 45px;"> 扫一扫关注</span>
                </p></div>
                </div>
                </div>
                <div class="col-xs-12 col-md-4">
                <div class="p-sm" style="overflow: hidden; padding-bottom: 15px;">
                <p class="text-center">结交朋友、分享福利、灌水吐槽,</p>
                <p class="text-center"> 我们在这等你</p>
                <div class="text-center">
                                        <img class="code-img"
                                             src="{% static 'blog/img/smill_img/weixin_add.png' %}"/>
                                    </div>
                <div class="text-center">
                <p style="color: #e9415a; font-size: 15px;">QQ群名称</p>
                <p>                            <span>QQ群号 </span><span style="color: #e9415a; font-size: 15px; margin-bottom: 45px;"> 1234567  </span><a class="btn btn-xs btn-danger"
                                               href="#"
                                               target="_blank">立即加入</a></p></div>
                </div>
                </div>
                <div class="col-xs-12 col-md-4">
                <div class="p-sm" style="overflow: hidden; padding-bottom: 15px;">
                <p class="text-center">想找纯粹的技术领地?</p>
                <p class="text-center">专注技术交流, 一同成长进步</p>
                <div class="text-center">
                                        <img class="code-img"
                                             src="{% static 'blog/img/smill_img/weixin_add.png' %}"/>
                                    </div>
                <div class="text-center">
                <p style="color: #18A57D; font-size: 15px;">QQ群名称</p>
                <p>                            <span>QQ群号 </span><span style="color: #18A57D; font-size: 15px; margin-bottom: 45px;"> 1234567  </span><a target="_blank" class="btn btn-xs" style="background-color: #18A57D"
                                               href="#">立即加入</a></p></div>
                </div>
                </div>
                </div>
                </div>




