{% extends 'blog/left_base.html' %}
{% load static %}

    {% block index %}

        	<div id="wowslider-container1">
	<div class="ws_images"><ul>
<li><a target="_blank" href="#" title="Python3网络爬虫开发实战教程"><img src="{% static 'blog/img/carousel/2345_image_file_copy_1.jpg' %}" title="Python3网络爬虫开发实战教程" alt="Python3网络爬虫开发实战教程" /></a></li>
        <li><a target="_blank" href="#" title="Python3爬虫视频学习教程"><img src="{% static 'blog/img/carousel/2345_image_file_copy_2.jpg' %}" title="Python3爬虫视频学习教程" alt="Python3爬虫视频学习教程" /></a></li>
        <li><a target="_blank" href="#" title="干货！IT小伙伴们实用的网站及工具大集合！持续更新！"><img src="{% static 'blog/img/carousel/2345_image_file_copy_3.jpg' %}" title="干货！IT小伙伴们实用的网站及工具大集合！持续更新！" alt="干货！IT小伙伴们实用的网站及工具大集合！持续更新！" /></a></li>
        <li><a target="_blank" href="#" title="PHP高级特性学习总结"><img src="{% static 'blog/img/carousel/2345_image_file_copy_4.jpg' %}" title="PHP高级特性学习总结" alt="PHP高级特性学习总结" /></a></li>
        <li><a target="_blank" href="#" title="Python2爬虫学习系列教程"><img src="{% static 'blog/img/carousel/2345_image_file_copy_5.jpg' %}" title="Python2爬虫学习系列教程" alt="Python2爬虫学习系列教程" /></a></li>	</ul>
</div>

<div class="ws_thumbs">
<div>
<a target="_blank" href="#" title="Python3网络爬虫开发实战教程"><img src="{% static 'blog/img/carousel/2345_image_file_copy_1.jpg' %}" /></a>
    <a target="_blank" href="#" title="Python3爬虫视频学习教程"><img src="{% static 'blog/img/carousel/2345_image_file_copy_2.jpg' %}" /></a>
    <a target="_blank" href="#" title="干货！IT小伙伴们实用的网站及工具大集合！持续更新！"><img src="{% static 'blog/img/carousel/2345_image_file_copy_3.jpg' %}" /></a>
    <a target="_blank" href="#" title="PHP高级特性学习总结"><img src="{% static 'blog/img/carousel/2345_image_file_copy_4.jpg' %}" /></a>
    <a target="_blank" href="#" title="Python2爬虫学习系列教程"><img src="{% static 'blog/img/carousel/2345_image_file_copy_5.jpg' %}" /></a></div></div><div class="ws_shadow"></div>
	</div>
        <script type="text/javascript" src="{% static 'blog/js/slider.js' %}"></script>
    <div><div class="left-ad" style="clear: both;background-color: #fff; width: 30%;float: left;margin-right:2%;"></div><div class="hot-posts">
			<h2 class="title">热门排行</h2>
			<ul>
                {% for praise in praises %}
                <li><p>
                        <span class="muted">
                        <a  href="javascript:;" data-action="ding" data-id="{{ praise.id }}" id="Addlike" class="action" onclick="like_change(this,{{ praise.id }})"><i class="iconfont icon-icon-test"></i><span class="count">{{ praise.praise }}</span> 喜欢</a>
                        </span>
                    </p>
                    <span class="label label-{{ forloop.counter }}">{{ forloop.counter }}</span><a href="{% url 'blog:article' praise.id%}" title="{{ praise.title }}">{{ praise.title }}</a>
                </li>
                {% endfor %}
            </ul>
		</div></div>


    {% endblock %}
