{% extends 'blog/main_base.html' %}

{% load static %}
    {% block main_content %}
   <aside class="sidebar">
        <article class="excerpt">
            <header>
                <a class="label label-important">当前页面<i class="label-arrow"></i></a>
                <h2><a>我发布的文章</a>
                </h2>
            </header>
        <style type="text/css">
            table{

                    table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
                }
                td{
                    width:100%;
                    word-break:keep-all;/* 不换行 */
                    white-space:nowrap;/* 不换行 */
                    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
                    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
                }
        </style>

             <table style="font-size: 20px;" border="0" width="100%">
                <tr bgcolor="#f0ffff" style="height: 55px;" align="center">
                    <td style="width: 25%">文章标题</td>
                    <td style="width: 23%">类别</td>
                    <td style="width: 20%">发布时间</td>
                    <td style="width: 8%">浏览</td>
                    <td style="width: 8%">喜欢</td>
                    <td style="width: 8%">状态</td>
                    <td style="width: 8%">操作</td>
                </tr>
                 {% for main_article in main_articles %}
                 <tr bgcolor="" style="height: 55px;font-size: 16px" align="center">
                    <td noWrap style="width: 25%"><a href="{% url 'blog:article' main_article.id %}">{{ main_article.title }}</a></td>
                     <td style="width: 23%"><a href="{% url 'blog:article_list' main_article.nav1.id %}">{{ main_article.nav1.nav_name }}</a>>><a href="{% url 'blog:article_list' main_article.nav2.id %}">{{ main_article.nav2.nav_name }}</a></td>
                    <td style="width: 20%">{{ main_article.issuedate }}</td>
                    <td style="width: 8%">{{ main_article.browse_count }}</td>
                    <td style="width: 8%">{{ main_article.praise }}</td>
                    {% if main_article.is_show == True %}
                        <td style="width: 8%;color: #00d084">发布</td>
                    {% else %}
                        <td style="width: 8%;color: #e51400">隐藏</td>
                    {% endif %}
                    <td style="width: 8%"><a href="{% url "blog:article_write" main_article.id%}">修改</a></td>
                </tr>
                 {% endfor %}



            </table>

        </article>

    </aside>
    {% endblock %}
