{% extends 'blog/base.html' %}
{% load static %}
{% block body %}
    <link rel='stylesheet' href='{% static 'blog/css/main_style.css' %}' type='text/css'/>
    <div class="content-wrap">
        <div class="content">

            <div class="widget d_tag">
                <div class="d_tags">
                    <a title="我的个人资料" href="{% url 'blog:main' %}">我的资料</a>
                    <a title="我发布的文章" href="{% url 'blog:main_article' %}">我的文章</a>
                </div>
            </div>


        </div>
    </div>
    <aside class="sidebar">
        <article class="excerpt">
            <header>
                <a class="label label-important">当前页面<i class="label-arrow"></i></a>
                <h2><a>我的个人资料</a>
                </h2>
            </header>

            <table style="font-size: 20px;" border="0" width="100%">
                <form action="{% url 'blog:main' %}" method="post" id="submit_name">
                <tr bgcolor="#f0ffff" style="height: 55px">
                    <td style="width: 20%">&nbsp;&nbsp;用户名 :</td>
                    <td style="width: 30%;padding-top: 10px">&nbsp;&nbsp;<input type="text" name="username" value="{{ user.username }}"></td>
                    <td style="width: 6%"><h2><a id="modify_name" style="font-size: 16px" href="javascript:;" onclick="document:submit_name.submit()">修改</a></h2></td>
                    <td style="width: 44%;color: red; font-size: 12px">{{ username_result }}</td>
                </tr>
                </form>
                <tr style="height: 55px">
                    <td style="width: 20%">&nbsp;&nbsp;密码 :</td>
                    <td style="width: 30%">&nbsp;&nbsp;*********</td>
                    <td style="width: 6%"><h2><a id="modify_name" style="font-size: 16px" href="#">修改</a></h2></td>
                    <td style="width: 44%;color: red; font-size: 12px">{{ passworld_result }}</td>
                </tr>
                <tr bgcolor="#f0ffff" style="height: 55px">
                    <td style="width: 20%">&nbsp;&nbsp;邮箱 :</td>
                    <td style="width: 30%">&nbsp;&nbsp;{{ user.email }}</td>
                    <td style="width: 6%"><h2><a id="modify_name" style="font-size: 16px" href="#">修改</a></h2></td>
                    <td style="width: 44%;color: red; font-size: 12px">{{ email_result }}</td>
                </tr>
                <tr style="height: 55px">
                    <td style="width: 20%">&nbsp;&nbsp;头像 :</td>
                    <td style="width: 30%">&nbsp;&nbsp;<img width="40px" height="40px" style="border-radius: 50%"
                                                            src='/static/{{ user.icon }}'></td>
                    <td style="width: 6%"><h2><a id="modify_name" style="font-size: 16px" href="#">修改</a></h2></td>
                    <td style="width: 44%;color: red; font-size: 12px">{{ icon_result }}</td>
                </tr>
                <form method="post" id = "submit_sex" action="{% url 'blog:change_sex' %}">
                    <tr bgcolor="#f0ffff" style="height: 55px">
                        <td style="width: 20%">&nbsp;&nbsp;性别 :</td>
                        <td style="width: 30%">
                            <table >
                                <tr>
                                    {% if user.sex == 0 %}
                                        <td style="padding-left: 10px"><label for="sex_1"><input id="sex_1" name="sex" type="radio" value="1"> 男&nbsp;&nbsp;</label>
                                        </td>
                                        <td><label for="sex_2"><input id="sex_2" name="sex" type="radio" value="0" checked>&nbsp;女&nbsp;</label></td>
                                    {% elif user.sex == 1 %}
                                        <td style="padding-left: 10px"><label for="sex_1"><input id="sex_1" name="sex" type="radio" value="1" checked> 男&nbsp;&nbsp;</label>
                                        </td>
                                        <td><label for="sex_2"><input id="sex_2" name="sex" type="radio" value="0">&nbsp;女&nbsp;</label></td>
                                    {% else %}
                                        <td style="padding-left: 10px"><label for="sex_1"><input id="sex_1" name="sex" type="radio" value="1"> 男&nbsp;&nbsp;</label>
                                        </td>
                                        <td><label for="sex_2"><input id="sex_2" name="sex" type="radio" value="0">&nbsp;女&nbsp;</label></td>
                                    {% endif %}
                                </tr>
                            </table>

                        </td>
                            <td style="width: 6%"><h2><a id="modify_name" style="font-size: 16px" href="javascript:;" onclick="document:submit_sex.submit()">修改</a></h2></td>
                            <td style="width: 44%;color: red; font-size: 12px">{{ sex_result }}</td>
                    </tr>
                </form>
                <form action="{% url 'blog:change_phone' %}" id="submit_phone" method="post">
                <tr style="height: 55px">
                    <td style="width: 20%">&nbsp;&nbsp;手机号码 :</td>
                    <td style="width: 30%;padding-top: 10px">&nbsp;&nbsp;<input type="text" name="phonenumber" value="{{ user.phonenumber }}"></td>
                    <td style="width: 6%"><h2><a style="font-size: 16px" href="javascript:;" onclick="document:submit_phone.submit()">修改</a></h2></td>
                    <td style="width: 44%;color: red; font-size: 12px">{{ phone_result }}</td>
                </tr>
                </form>
                <tr bgcolor="#f0ffff" style="height: 55px">
                    <td style="width: 20%">&nbsp;&nbsp;注册时间 :</td>
                    <td style="width: 30%">&nbsp;&nbsp;{{ user.registertime }}</td>
                    <td style="width: 6%"><h2><a id="modify_name" style="font-size: 16px" href="#"></a></h2></td>
                    <td style="width: 44%;color: red; font-size: 12px"></td>
                </tr>
            </table>

        </article>

    </aside>
<script src="{% static 'blog/js/main_my.js' %}" type="javascript"></script>
{% endblock %}