{% extends 'blog/base.html' %}
{% load static %}
{% block body %}
    <link rel='stylesheet' href='{% static 'blog/css/main_style.css' %}' type='text/css'/>
    <div class="content-wrap">
        <div class="content">

            <div class="widget d_tag">
                <div class="d_tags">
                    <a title="我的个人资料" href="{% url 'blog:main' %}">我的资料</a>
                    <a title="我发布的文章" href="{% url 'blog:main_article' %}">我的文章</a>
                </div>
            </div>


        </div>
    </div>
    <aside class="sidebar">
        <article class="excerpt">
            <header>
                <a class="label label-important">当前页面<i class="label-arrow"></i></a>
                <h2><a>我的个人资料</a>
                </h2>
            </header>

            <p>

                现代人都普遍比较焦虑，越来越多的人感到生活压力很大，在一二线城市不少白领人士更是已是患上“知识焦虑症”：这年头知识信息迭代太快，学习跟不上，别人懂的自己都不懂，总感觉自己欠缺的很多，没有技术和专长不知未来靠什么生存，担心自己长期落后他人从而被社会淘汰，从而产生了一种对未来不确定的心理恐惧。

于是，他们就急于渴求，希望能在短时间内学习大量知识希望从根本上解决自己的实际问题，拼命利用碎片化时间学习补充欠缺知识，不断完善自己的知识体系。这时知识付费的出现，正好满足了他们这些刚性需求。

再加上2018年前以逻辑思维为主一批内容供应商到处鼓吹和贩卖知识焦虑，在这种风气影响下连身边的很多小伙伴都购买了大量知识付费产品，但一年下来却发现这些知识根本没有学会几个，内容良莠不齐，服务跟不上，就算能坚持学完下来还是什么都不会，焦虑依然存在 。甚至更多人觉得其实知识付费就是一场骗局，从本质上来说知识付费并没有解决任何的问题，表面上只是缓解了一些焦虑，在短时间内让一些人自我感觉良好，实则上只是自欺欺人而已。

于是，一些感觉被欺骗的用户纷纷发声，对某些知识付费大号和机构更是愤怒抨击，在这些负面影响下这两年知识付费其实已逐渐降温并遭遇爆冷，甚至还有一些负面声音在说： 在线知识付费的寒冬是不是要来临了？

其实不然，纵观当下市场发展态势知识付费的前景仍然是广阔的，竞争激烈程度仍方兴未艾，当人们对知识的盲目消费退烧后，知识付费更多的是回归服务价值， 核心需求有两方面 ： 一方面是为了提升欠缺的知识让自己具有更多的市场竞争力，另一方面也希望自己花钱买的知识付费产品是一些真正有帮助的东西，可帮自己迎来一个不错的未来。所以，知识付费的下一阶段必然聚焦于如何让学习用户获得真正有效的学习效果。

那么，知识付费下半场风口到底会吹去哪？ 好学豚认为这一领域的大方向以后的发展趋势大致有如下特征：

趋势一：内容下沉，回归有价值的真实内容
1、职场技能
在知识付费领域和在整个教育市场体系里，职场技能都是最刚需的内容板块，从最早的电算会计化到后来的英语类培训，再到如今一些以工具为代表的设计、办公技能、IT编程等等培训，无一不彰显着其旺盛的生命力。 究其根本原因，这是因为它能够切实解决职场人士的实际需求，所以职场技能内容才会一直火爆，繁荣至今仍在蓬勃发展。

2、知识拓展
知识拓展是近年来兴起的版块内容，也是互联网上传播特别广泛的内容。以得到为代表，邀请行业细分领域的专业人士，按照标准的生产流程来生产较高质量的内容，帮助拓广知识的视野从而实现专家指路的效果。不容忽视的是，知识拓展的内容从今天来看存在较大的局限，很难解决用户的实际问题，学习效果也很难得到保证；如何打磨出更加直击用户痛点的产品，需要更多的探索和尝试。

3、兴趣爱好
在线教育领域，兴趣爱好的内容已经有了长足发展。用户的痛点正在逐渐从追求高大上、财务自由这些虚伪的概念转型到享受生活：提 升生活趣味让自己活得更舒服。兴趣爱好内容之所以能生命力如此旺盛，最大因素要得益于其以兴趣为导向，学习者本身并不会有太高的学习结果诉求，更多的是在学习之中获得的乐趣以及对授课老师的认同。

趋势二：后续服务提升，注重全流程效果
今后知识付费需要做好三个关键点的平衡：碎片化学习、学习规模和学习效果，这三者缺一不可。根据业内行家的实践和推断，下一阶段知识付费的标配服务模式将会是1+1+N模式，能较好地实现以上三个关键点的平衡。

第一个“1”代表的是标准化的课程： 这个课程将会以“图文”、“视频”或“音频”形式进行展现，让学习者完成自学。这个“1”满足了碎片化学习的随时随地性，给予了学习者最大限度的自由度，同时也满足了由于学习规模日益扩大而带来的各种问题。

第二个“1”代表的是在线训练营： 就是把线下的集中学习模式搬到线上，开展一段时间的在线集中训练，通过学习流程、学习氛围、学习评估的三位一体运作，从而使学习效果得以达成。总体做法是把所有参与训练营的学员，分成不同的小组，然后配定相应老师。每个学员在学习过程中都需要完成相应作业，然后交给老师进行批改和点评。整个训练营阶段会有实战练习，根据学习者的自身情况或使用真实的案例来进行实战，进而帮助学习者实现学以致用。同时，老师需要对每个学习者进行阶段性评分，在学习完成时要进行总体评估；老师还需要针对小组学习效果进行展示和相应氛围的营造。

最后一个“N”则代表通过科技的力量，实现多种教学辅助手段 ：比如老师和学员之间的交互，老师批量布置和批改作业，对学员进行评分和评估，给积极学习者一些奖励等等，所有这些辅助手段，将会让老师和学员之间的交互更紧密，让学习效率更高、让学习流程更完整、学习模式更人性，从而最终达到提升学习效果的目的。

趋势三：更多垂直领域的小KOL将通过工具类平台输出产品
垂直领域的小KOL，他们标签清晰、价值点明确，用户深度认可，反倒更容易突围，甚至可以脱离平台，通过好学豚这类工具就可以完成知识店铺的搭建。而且因为他们有很强的用户沉淀能力，所以也更有动力参与。长期来看，小KOL通过线上虚拟产品输出知识将会成为一个新的趋势。

趋势四：一线城市受众有限，二、三线城市女性用户价值开始受到重视
一线城市对于知识付费产品的承载能力是有限的，据观察主流付费用户都不是一线白领，而是二三线城市的宝妈。她们更愿意在知识上付钱，也愿意分享课程，赚取一定分成。

互联网独角兽的发展规律一再地证明二三线城市的女性是主力消费群体，知识付费也不会逃离这个规律，现在很多母婴类课程、女性个人提升课程、陪伴式励志课程、情商人际关系类课程销量都很不错。这是一个巨大的市场空窗，目前市场上的多数知识付费平台还忽视了二三线城市的用户，电商平台和垂直大号也还没有真正介入这一行业，这个空窗很有可能下一家知识付费独角兽企业崛起的机会。

针对以上趋势，好学豚知识付费平台也正在进行多方面的尝试，希望能把握住这些新的市场机会迎来爆发性增长，对于当下的知识付费从业者来说既是一个巨大的挑战，也是突围而出成为新独角兽企业的机会。

原文：https://www.iyiou.com/p/104850.html

转载请注明：静觅 » 知识付费的发展趋势
            </p>

        </article>

    </aside>

{% endblock %}