{% extends 'blog/base.html' %}
{% load static %}
{% block body %}
    <link rel='stylesheet' href='{% static 'blog/css/main_style.css' %}' type='text/css'/>
    <div class="content-wrap">
        <div class="content">

            <div class="widget d_tag">
                <div class="d_tags">
                    <a title="我的个人资料" href="{% url 'blog:main' %}">我的资料</a>
                    <a title="我发布的文章" href="{% url 'blog:main_article' %}">我的文章</a>
                </div>
            </div>


        </div>
    </div>
    <aside class="sidebar">
        <article class="excerpt">
            <header>
                <a class="label label-important">当前页面<i class="label-arrow"></i></a>
                <h2><a>我发布的文章</a>
                </h2>
            </header>
        <style type="text/css">
            table{

                    table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
                }
                td{
                    width:100%;
                    word-break:keep-all;/* 不换行 */
                    white-space:nowrap;/* 不换行 */
                    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
                    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
                }
        </style>

             <table style="font-size: 20px;" border="0" width="100%">
                <tr bgcolor="#f0ffff" style="height: 55px;" align="center">
                    <td style="width: 25%">文章标题</td>
                    <td style="width: 23%">类别</td>
                    <td style="width: 20%">发布时间</td>
                    <td style="width: 8%">浏览</td>
                    <td style="width: 8%">喜欢</td>
                    <td style="width: 8%">删除</td>
                    <td style="width: 8%">修改</td>
                </tr>
                 {% for main_article in main_articles %}
                 <tr bgcolor="" style="height: 55px;font-size: 16px" align="center">
                    <td noWrap style="width: 25%">{{ main_article.title }}</td>
                    <td style="width: 23%">{{ main_article.first_classify }}>>{{ main_article.second_classify }}</td>
                    <td style="width: 20%">{{ main_article.issuedate }}</td>
                    <td style="width: 8%">{{ main_article.browse_count }}</td>
                    <td style="width: 8%">{{ main_article.praise }}</td>
                    <td style="width: 8%">{{ main_article.is_Delete }}</td>
                    <td style="width: 8%">{{ main_article.id }}</td>
                </tr>
                 {% endfor %}



            </table>

        </article>

    </aside>

{% endblock %}