{% extends 'blog/base.html' %}
{% load static %}
{% block body %}
<div class="pagewrapper clearfix">


		<header class="pageheader clearfix">
			<h1 class="pull-left">
				<a href="https://cuiqingcai.com/project">项目合作</a>
			</h1>
		            <div class="pull-right">
			{% include 'blog/share.html' %}
                </div>
		</header>
					<div class="article-content">
				<p>哈哈哈哈哈哈，等以后成了大牛，再说吧，手动-滑稽！！！！！！！！！SS</p>
<p><img class="aligncenter size-full wp-image-6133" src="{% static 'blog/img/smill_img/weixin_add.png' %}" alt="" width="258" height="258" srcset="{% static 'blog/img/smill_img/weixin_add.png' %} 258w, {% static 'blog/img/smill_img/weixin_add.png' %} 160w" sizes="(max-width: 258px) 100vw, 258px" /></p>
			</div>

</div>
{% endblock %}